<div class="content-page">
  <div class="row content-header">
    <form [formGroup]="contentUploadForm">
      <div class="input-group mb-3">
        <input class="form-control" type="text" placeholder="Title or Topic" formControlName="title">
      </div>
      <div class="input-group mb-3">
        <input type="file" formControlName="file"
               id="file"
               type="file"
               (change)="onFileChange($event)"/>
        <label for="file" class="btn-1">Upload Image</label>
      </div>
      <div class="input-group mb-3">
        <button class="btn btn-info pull-right" (click)="uploadImage()">Upload</button>
      </div>
    </form>
  </div>
</div>
